<% content_for :content_header do %>
<section class="content-header">
  <h1>
    Home Page
    <small>Welcome to ErikApp Adminastration Page!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  </ol>
</section>
<% end %>

deneme